bin/*.o
*.o
TaggerFramework
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*_Store

# NN tuning files
*.nnet
app-example
